nav {
  box-shadow: rgba(189, 187, 187, 0.45) 0px 25px 20px -20px;
}
.apply_section {
  font-weight: 400;
  font-style: Regular;
  font-family: "Poppins", sans-serif;
  color: #5b525b ;
  .container {
    .apply_header {
      margin: 50px 0 40px 0;
      font-family: Playfair Display;
      font-size: 48px;
      text-align: center;
      vertical-align: middle;
      font-family: "Playfair Display", sans-serif;
    }
    form {
      max-width: 590px;
      width: 100%;
      margin: 0 auto;
      .form-group {
        font-size: 16px;

        margin-bottom: 24px;
        input[type="text"],
        input[type="email"],
        select {
          width: 100%;
          padding: 12px;
          border: 1px solid #5b525b;
          border-radius: 10px;
          font-size: 16px;
          box-sizing: border-box;
          transition: border 0.2s;
           color: #5b525b !important;
        }
        input[type="text"]:focus,
        input[type="email"]:focus,
        select:focus {
          outline: none;
          border-color: #6f7482;
          box-shadow: 0 0 0 3px rgba(24, 119, 242, 0.1);
        }
        .gender-group {
          display: flex;
          gap: 30px;
          margin-top: 8px;
          .gender-option {
            display: flex;
            align-items: center;
            font-size: 15px;
            margin-top: 15px;
            input {
              margin-right: 8px;
            }
          }
        }
        .gender_text {
          color: #6f7482;
        }
        #dogum_ili {
          color: #525052!important;
        }
        option{
         color: #000;
        }
        .birth-select {
          appearance: none; /* Bütün brauzerlərdə default oxu sil */
          -webkit-appearance: none;
          -moz-appearance: none;

          padding-right: 40px; /* OX üçün boş yer */
          background-color: #fff;

          background-image: url('data:image/svg+xml;utf8,<svg fill="%23999" height="14" viewBox="0 0 20 20" width="14" xmlns="http://www.w3.org/2000/svg"><path d="M5.516 7.548l4.484 4.955 4.484-4.955"/></svg>');
          background-repeat: no-repeat;
          background-position: right 12px center;
          background-size: 14px;
        }
      }
      .submit-btn {
        width: 100%;
        padding: 16px 20px;

        color: #5b525b;
        border-radius: 10px;
        border: 1px solid #5b525b;
        background-color: #fff;
        font-size: 16px;
        margin: 0 auto;
        cursor: pointer;
        margin-top: 50px;
      }
    }
  }
}
/* Autofill sıfırlamaq üçün */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #525052 !important; // yazı rəngi
  -webkit-box-shadow: 0 0 0px 1000px white inset !important; // fonu ağ et
  transition: background-color 5000s ease-in-out 0s; // animasiyanı sıfırla
}