.courseDetail-section {
  margin: 40px 0;
  .container {
    .courseDetail {
      .courseDetailImgBox {
        height: 500px;
        overflow: hidden;
        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .courseDetailContetBox {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: Regular;
        margin-top: 46px;
        white-space: pre-wrap;
        word-wrap: break-word;
        .courseDetailName {
          font-family: "Playfair Display", serif;
          font-size: 48px;
          margin: 46px 0;
        }
        .courseDetailCoontent {
          font-size: 24px;
          margin-bottom: 40px;
          iframe {
            width: 100%;
            margin-top: 20px;
          }
        }
        .courseDetailBtnBox {
          display: flex;
          margin-bottom: 66px;
          justify-content: center;
          button {
            padding: 10px 20px;
            color: #5b525b;
            border-radius: 8px;
            border: 1px solid #5b525b;
            background-color: #fff;
            font-size: 16px;
            margin: 0 auto;
            cursor: pointer;
          }
        }
      }
      .courseTeacher {
        display: grid;
        grid-template-columns: auto auto;
        gap: 25px;
        .courseTeacherImg {
          max-width: 380px;
          // min-height: 300px;
          img {
            border-radius: 16px;
            width: 100%;
    
            object-fit: cover;
            object-position: top;
          }
        }
        .courseTeacherAbout {
          font-weight: 400;
          font-style: Regular;
          .teacherAboutName {
            font-family: "Playfair Display", serif;

            font-size: 48px;
          }
          .teacherAboutContent {
            font-family: "Poppins", sans-serif;

            font-size: 22px;
          }
        }
      }
    }
  }
}
