.courseDetail-section {
  margin: 40px 0;
  .container {
    .courseDetail {
      .courseDetailImgBox {
        height: 500px;
        overflow: hidden;
        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .courseDetailContetBox {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: Regular;
        margin-top: 46px;
        white-space: pre-wrap;
        word-wrap: break-word;
        .courseDetailName {
          font-family: "Playfair Display", serif;
          font-size: 48px;
          margin: 46px 0;
        }
        .courseDetailCoontent {
          font-size: 24px;
          margin-bottom: 40px;
          iframe {
            width: 100%;
            margin-top: 20px;
          }
        }
        .courseDetailBtnBox {
          display: flex;
          margin-bottom: 66px;
          justify-content: center;
          button {
            padding: 10px 20px;
            color: #5b525b;
            border-radius: 8px;
            border: 1px solid #5b525b;
            background-color: #fff;
            font-size: 16px;
            margin: 0 auto;
            cursor: pointer;
          }
        }
      }
      .courseTeacher {
        gap: 25px;
        align-items: start;

        .courseTeacherImg {
          float: left !important;
          width: 340px;
          height: auto;
          margin-right: 25px;
          margin-bottom: 20px;

          img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
            display: block;
          }
        }

        .courseTeacherAbout {
          flex: 1;
          min-width: 300px;

          text-align: start;
          text-align: justify;
          .teacherAboutName {
            font-family: "Playfair Display", serif;
            font-size: 48px;
            margin-top: 0;
            margin-bottom: 16px;
          }

          .teacherAboutContent {
            font-family: "Poppins", sans-serif;
            font-size: 20px;
            line-height: 1.6;
          }
        }

        &::after {
          content: "";
          display: block;
          clear: both;
        }
      }
    }
  }
}
@media screen and (max-width: 772px) {
  .courseDetail-section {
    .container {
      .courseDetail {
        .courseDetailImgBox {
          height: 350px;
        }
        .courseDetailContetBox {
          .courseDetailName {
            font-size: 32px;
          }
          .courseDetailCoontent {
            font-size: 16px;
          }
        }
        .courseTeacher {
          gap: 15px;
          display: grid;
          grid-template-columns: auto;
          text-align: center;
          .courseTeacherImg {
            max-width: 100%;
            margin: 0 auto;
            img {
              border-radius: 16px;
              max-width: 100%;
              min-height: 300px;
              object-fit: contain;
            }
          }
          .courseTeacherAbout {
            .teacherAboutName {
              font-size: 32px;
              text-align: center;
            }
            .teacherAboutContent {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 442px) {
  .eventDetail-section {
    .container {
      .eventDetail {
        .eventDetailContetBox {
          .eventDetailContent {
            font-size: 13px;
          }
          button {
            padding: 10px 20px;
            color: #5b525b;
            border-radius: 8px;
            border: 1px solid #5b525b;
            background-color: #fff;
            font-size: 16px;
            position: relative;
            transform: translate(-50%, -50%);
            left: 50%;
          }
        }
      }
    }
  }
}
