.eventDetail-section {
  margin: 60px 0;
  .container {
    .eventDetail {
      .eventDetailImgBox {
        height: 428px;
        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .eventDetailContetBox {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: Regular;
        margin-top: 46px;
        .eventDetailDate {
          display: flex;
          align-items: center;
          gap: 5px;

          span {
            font-size: 14px;
          }
        }
        .eventDetailName {
          font-family: "Playfair Display", serif;
          font-size: 48px;
          margin: 46px 0;
        }
        .eventDetailContent {
          font-size: 24px;
          margin-bottom: 40px;
        }
        button {
          padding: 10px 20px;
          color: #5b525b;
          border-radius: 8px;
          border: 1px solid #5b525b;
          background-color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}
