.eventDetail-section {
  margin: 60px 0;
  .container {
    .eventDetail {
      .eventDetailImgBox {
        height: 550px;
        overflow: hidden;

        img {
          border-radius: 16px;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .eventDetailContetBox {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: Regular;
        margin-top: 46px;
        white-space: pre-wrap;
        word-wrap: break-word;
        .eventDetailDate {
          display: flex;
          align-items: center;
          gap: 5px;

          span {
            font-size: 14px;
          }
        }
        .eventDetailName {
          font-family: "Playfair Display", serif;
          font-size: 48px;
          margin: 46px 0;
        }
        .eventDetailContent {
          font-size: 24px;
          margin-bottom: 40px;
          
          iframe {
            width: 100%;
            margin-top: 20px;
          }
        }
        button {
          padding: 10px 20px;
          color: #5b525b;
          border-radius: 8px;
          border: 1px solid #5b525b;
          background-color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 772px) {
  .eventDetail-section {
    margin-bottom: 0;
    .container {
      .eventDetail {
        .eventDetailImgBox {
          height: 350px;
        }
        .eventDetailContetBox {
          margin-top: 0;
          .eventDetailName {
            
            font-size: 32px;
          }
          .eventDetailContent {
            font-size: 16px;
         
            iframe {
              height: 350px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 442px) {
  .eventDetail-section {
    .container {
      .eventDetail {
     
        .eventDetailContetBox {
        
          .eventDetailContent {
            font-size: 13px;
       
          }
            button {
          padding: 10px 20px;
          color: #5b525b;
          border-radius: 8px;
          border: 1px solid #5b525b;
          background-color: #fff;
          font-size: 16px;
          position: relative;
          transform: translate(-50%, -50%);
          left: 50%;
        }
        }
      }
    }
  }
}
