.pageSection {
  margin: 60px 0;
  .container {
    .section_Container {
      font-family: "Poppins", sans-serif;
      .section_Header {
        margin-bottom: 30px;
        color: #5b525b;
        .section_head {
          font-weight: 400;
          font-family: "Playfair Display", serif;
          font-size: 48px;
        }

        .section_AllBtn {
          font-weight: 400;
          font-size: 16px;
          text-align: end;
        }
        .course-head {
          text-align: end;
        }
        .course-all {
          text-align: start;
        }
      }
      .sectionSlider {
        position: relative;
        .slide-viewport {
          overflow: hidden;
          touch-action: pan-y;
          user-select: none;
          -webkit-user-drag: none;
          cursor: grab;

          &.dragging {
            cursor: grabbing;
            user-select: none;
          }
          .dragging * {
            pointer-events: none;
          }
          &:active {
            cursor: grabbing;
          }
          .slide-row {
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;
            grid-auto-columns: minmax(284px, 1fr);
            gap: 20px;
            padding: 2px 2px 12px;
            overflow-x: auto;
            scroll-behavior: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              display: none;
            }

            .slide-slider {
              overflow: hidden;
              display: flex;
              flex-direction: column;
              min-height: 100%;

              .sliderImgBox {
                border-radius: 14px;
                img {
                  border-radius: 14px;

                  width: 100%;
                  height: 310px;
                  object-fit: cover;
                  display: block;
                }
              }
              .sliderContetBox {
                color: #0f0e12;
                .sliderName {
                  font-size: 18px;
                  margin: 10px 0;
                  font-family: "Playfair Display", serif;
                  min-height: 50px;
                }
                .sliderContent {
                  font-size: 14px;
                  margin-bottom: 11px;
                  line-height: 1.3;
                  color: #2e2c2e;
                }
                .sliderFooter {
                  display: flex;
                  justify-content: space-between;
                  button {
                    padding: 10px 20px;
                    color: #5b525b;
                    border-radius: 8px;
                    border: 1px solid #5b525b;
                    background-color: #fff;
                    font-size: 16px;
                    position: relative;
                    z-index: 10;
                    pointer-events: auto;
                  }
                  span {
                    color: #0f0e12;
                    font-size: 10px;
                    text-align: end;
                  }
                }
              }
            }
          }
        }
        .slide-viewport * {
          user-select: none;
          -webkit-user-drag: none;
        }
        .slide-scrollbar {
          max-width: 520px;
          margin: 80px auto;

          user-select: none;
          .scrollbar__track {
            position: relative;
            height: 3px;
            background: #e9e9e9;
            border-radius: 999px;
            overflow: hidden;
            .scrollbar__thumb {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              width: 60px; /* JS yeniləyəcək */
              background: #5b525b;
              border-radius: 999px;
              will-change: transform;
              /* istəsən transition: transform .05s linear; */
            }
          }
        }
      }
    }
  }
}
.course-section {
  margin: 140px 0;
  .container {
    .section_Container {
      .sectionSlider {
        .slide-viewport {
          .slide-row {
            .slide-slider {
              .course_sliderImgBox {
                img {
                  border-radius: 14px;
                  // max-width: 285px;
                  width: 100%;
                  height: 345px;
                  object-fit: cover;
                  display: block;
                }
              }
              .course_sliderContetBox {
                margin-top: 10px;
                .course_sliderName {
                  font-family: "Playfair Display", serif;
                  font-weight: 400;
                  margin-bottom: 18px;
                  font-size: 18px;
                }
                .course_sliderFooter {
                  button {
                    padding: 10px 20px;
                    color: #5b525b;
                    border-radius: 8px;
                    border: 1px solid #5b525b;
                    background-color: #fff;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
#about-section {
  margin-bottom: 150px;
  .container {
    .about-container {
      display: grid;
      grid-template-columns: 1.5fr 1.2fr;
      justify-content: space-between;
      align-items: center;
      gap: 82px;
      .abut-text {
        .avout-header-textBox {
          margin-bottom: 48px;
          p {
            font-family: "Playfair Display", serif;
            font-weight: 400;
            color: #5b525b;
            font-size: 48px;
          }
        }
        .about-contentBox {
          p {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            color: #0f0e12;
            line-height: 1.3;
            font-size: 18px;
          }
        }
      }
      .about-imgBox {
        max-width: 508px;
        width: 100%;
        img {
          object-fit: cover;
          max-width: 508px;
          width: 100%;
          object-position: center;
          border-radius: 36px;
        }
      }
    }
  }
}
#contact-section {
  .responsElem {
    display: none;
  }
  width: 100%;
  margin-top: 150px;
  font-family: "Inter", sans-serif;
  position: relative;

  .contact-header {
    margin-bottom: 45px;
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 48px;
    color: #5b525b;
  }

  .contact-ContentBox {
    position: relative;
    width: 100%;
    min-height: 500px;

    .backElem {
      position: absolute;
      left: 0;
      top: 0;
      width: 50%;
      height: 100%;
      background: #b9b8b9;
      border-top-right-radius: 24px;
      border-bottom-right-radius: 24px;
      z-index: 1;
    }

    .map-wrapper {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      overflow: hidden;

      iframe {
        width: 120%;
        height: 100%;
        border: none;
        filter: grayscale(0.1) contrast(1.1);

        transform: translateX(12%);
      }

      .map-overlay {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
      }
    }

    .contact-info {
      position: relative;
      z-index: 10;
      padding-top: 110px;

      .contact-infoHead {
        font-size: 36px;
        font-weight: 400;
        margin-bottom: 25px;
      }

      .contact-infoText {
        font-size: 20px;
        margin-bottom: 25px;

        p {
          margin-bottom: 10px;
        }
      }

      .contact-infoSocial {
        display: flex;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .pageSection {
    .container {
      .section_Container {
        .section_Header {
          .section_head {
            font-size: 28px;
            margin-bottom: 10px;
          }

          .section_AllBtn {
            text-align: start;
          }
          .course-head {
            text-align: end;
          }
          .course-all {
            text-align: end;
          }
        }
      }
    }
  }
  .course-section {
    margin: 40px 0;
  }
  #about-section {
    margin-bottom: 60px;
  }
  #gallery-section {
    margin-bottom: 80px;
    .container {
      .gallery-container {
        .gallery-header {
          font-size: 28px;
        }
      }
    }
  }
  #contact-section {
    margin-top:0 ;
    .contact-header {
      font-size: 28px;
    }
  }
  .sliderImgBox img {
    height: 150px;
  }
  .row {
    gap: 12px;
  }
}

@media screen and (max-width: 976px) {
  #about-section {
    .container {
      .about-container {
        gap: 42px;
        .abut-text {
          .avout-header-textBox {
            margin-bottom: 36px;
            p {
              font-size: 36px;
            }
          }
          .about-contentBox {
            p {
              font-size: 16px;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
  #contact-section {
    .contact-ContentBox {
      .contact-info {
        .container {
          .contact-infoHead {
            font-size: 24px;
          }
          .contact-infoText {
            font-size: 14px;
          }
          .contact-infoSocial {
            gap: 10px;
            img {
              width: 40px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 776px) {
  #about-section {
    .container {
      .about-container {
        grid-template-columns: auto;
        justify-items: center;
        .abut-text {
          order: 2;
          .avout-header-textBox {
            margin-bottom: 32px;
            p {
              font-size: 26px;
            }
          }
          .about-contentBox {
            p {
              font-size: 16px;
              line-height: 1.3;
            }
          }
        }
        .about-imgBox {
          order: 1;
        }
      }
    }
  }
  #gallery-section {
    .container {
      .gallery-container {
        .gallery-imageBox {
          display: grid;
          grid-template-columns: repeat(2, 1fr); /* 2 sütun */
          grid-auto-rows: 150px;
          gap: 12px;
          .gallery-item {
            grid-column: auto !important; /* hamısı 1 sütun olsun */
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px;
              display: block;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  #contact-section {
    .responsElem {
      display: block;
      .backElem_1 {
        position: relative;

        width: 100%;
        height: 100%;
        background: #b9b8b9;
        .contact-info_1 {
          padding: 50px 0 !important;
        }
      }
      .map-wrapper_1 {
        width: 100%;
        overflow: hidden;

        iframe {
          width: 100%;
          border: none;
          height: 250px;
          filter: grayscale(0.1) contrast(1.1);
        }

        .map-overlay {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
        }
      }
    }
    .defaultElem {
      display: none;
    }
  }
  #about-section {
    .container {
      .about-container {
    
        .abut-text {
         
          .about-contentBox {
            p {
              font-size: 14px;
              line-height: 1.3;
            }
          }
        }
      }
    }
  }
}
