.about-page {
  margin: 100px 0 !important;
}
#events-section {
  margin: 60px 0;
  .container {
    .events-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      .event-card {
        .eventImgBox {
          img {
            border-radius: 14px;
            width: 100%;
            height: 310px;
            object-fit: cover;
            display: block;
          }
        }
        .eventContetBox {
          font-weight: 400;
          font-style: Regular;
          color: #0f0e12;
          .eventCardName {
            font-size: 18px;
            margin: 10px 0;
            font-family: "Playfair Display", serif;
          }
          .eventCardContent {
            font-size: 14px;
            margin-bottom: 11px;
            line-height: 1.3;
            color: #2e2c2e;
            font-family: "Poppins", sans-serif;
          }
          .eventCardFooter {
            display: flex;
            justify-content: space-between;
            button {
              padding: 10px 20px;
              color: #5b525b;
              border-radius: 8px;
              border: 1px solid #5b525b;
              background-color: #fff;
              font-size: 16px;
            }
            span {
              color: #0f0e12;
              font-size: 10px;
              text-align: end;
            }
          }
        }
      }
    }
  }
}

#courses-section {
  margin: 60px 0;
  .container {
    .courses-container {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      .course-card {
        .courseImgBox {
          img {
            border-radius: 14px;
            width: 100%;
            height: 345px;
            object-fit: cover;
            display: block;
          }
        }
        .courseContetBox {
          margin-top: 10px;
          font-weight: 400;
          font-style: Regular;
          color: #0f0e12;
          .courseCardName {
            margin-bottom: 18px;
            font-size: 18px;
            font-family: "Playfair Display", serif;
          }

          .courseCardFooter {
            button {
              padding: 10px 20px;
              color: #5b525b;
              border-radius: 8px;
              border: 1px solid #5b525b;
              background-color: #fff;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  #events-section {
  
    .container {
      .events-container {
        grid-template-columns: repeat(2, 1fr);

        .event-card {
          .eventContetBox {
           
            .eventCardContent {
              font-size: 14px;
            }
            .eventCardFooter {
              button {
                padding: 10px 20px;

                font-size: 16px;
              }
              span {
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
  #courses-section {
   
    .container {
      .courses-container {
        grid-template-columns: repeat(2, 1fr);
        .course-card {
          .courseContetBox {
           
      
            .courseCardFooter {
              button {
                padding: 10px 20px;
                font-size: 16px;
              }
              
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 526px) {
  #events-section {
    .container {
      .events-container {
        grid-template-columns: repeat(1, 1fr);
        .event-card {
          .eventContetBox {
            .eventCardName {
              font-size: 16px;
            }
            .eventCardContent {
              font-size: 12px;
            }
            .eventCardFooter {
              button {
                padding: 8px 16px;

                font-size: 14px;
              }
              span {
                font-size: 8px;
              }
            }
          }
        }
      }
    }
  }

    #courses-section {
   
    .container {
      .courses-container {
        grid-template-columns: repeat(1, 1fr);
        .course-card {
          .courseContetBox {
            .courseCardName {
              font-size: 16px;
            }
           
            .courseCardFooter {
              button {
                padding: 8px 16px;
                font-size: 14px;
              }
              
            }
          }
        }
      }
    }
  }
}
