spring:
  datasource:
    url: jdbc:h2:file:/home/site/db/testdb #preprod
    #url: jdbc:h2:file:./db/testdb #dev
    driver-class-name: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: false
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB
