#pages-header {
  width: 100%;
  background-color: #5b525b;
  padding: 70px 0;
  .container {
    .header-container {
      font-weight: 400;
      font-style: Regular;
      color: #fafbf9;
      .header-headText {
        font-family: "Playfair Display", serif;
        font-size: 48px;
        margin-bottom: 10px;
      }
      .header-contentTex {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
      }
    }
  }
}
@media screen and (max-width: 772px) {
  #pages-header {
    .container {
      .header-container {
        .header-headText {
          font-size: 22px;
        }
        .header-contentTex {
          font-size: 18px;
        }
      }
    }
  }
}
