@use "base/reset";
@use "layout/nav";
@use "layout/pages_header";
@use "pages/landing.scss";
@use "pages/pagesStyle.scss";
// @use "pages/details.scss";
// @use "pages/login.scss";
@use "layout/footer.scss";
