@use "base/reset";
@use "layout/nav";
@use "layout/header";
@use "layout/pages_header";
@use "pages/landing";
@use "pages/apply";
@use "pages/pagesStyle";
@use "pages/eventDetail";
@use "pages/courseDetail";
@use "layout/footer";
