@use "base/reset";
@use "layout/nav";
@use "layout/header";
@use "layout/pages_header";
@use "pages/landing";
@use "pages/pagesStyle";
@use "pages/eventDetail";
// @use "pages/login.scss";
@use "layout/footer";
