* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  font-style: Regular;
}
